<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <div class="container">
        <div class="form-wrapper">
            <main class="form-side">
                <a href="#" title="Logo">
                    <img src="assets/laplace.svg" alt="Laplace Logo" class="logo">
                </a>
                <form class="my-form">
                    <div class="form-welcome-row">
                        <h1>Welcome back! <img src="assets/smile.png" alt="wave"></h1>
                        <h2>Login with your account!</h2>
                    </div>
                    <div *ngIf="!user" class="socials-row">
                        <a href="#" title="Use Google">
                            <asl-google-signin-button *ngIf="!user"></asl-google-signin-button>
                            Continue with Google
                        </a>
                    </div>
                </form>
            </main>
            <aside class="info-side">
                <div class="blockquote-wrapper">
                    <img src="assets/returns.png" alt="Returns" class="returns">
                    <blockquote>
                        With Laplace, I have significantly outperformed S&P 500 in the last three
                        years.
                    </blockquote>
                </div>
            </aside>
        </div>
    </div>
</body>

</html>