body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* Changed to 100vh for full viewport height */
    padding-bottom: 60px; /* Added padding to accommodate button height */
}

p {
    margin: 0;
    padding: 20px;
}

.footer {
    position: fixed; /* Fixed position to stick at the bottom */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5; /* Added background color */
    padding: 20px; /* Added padding for better appearance */
    text-align: center;
}
