<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <img width="100" height="100" src="https://img.icons8.com/clouds/100/filled-like.png" alt="filled-like" class="img-fluid"/>
            </div>
            <div class="col">
                <p>This page helps you send heartfelt messages to loved ones, even if you're unsure what to say. Share hints or instructions on your desired message, and we'll create a thoughtful, personalized note for you. Let us help you spread love and joy to those who matter most.</p>
                <p>Select from the following words to craft a message that truly captures your heart's sentiment:</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div id="emojis">
                    <p>Pick a Vibe:</p>

                    <div class="row">
                        <div class="col">
                            <!-- Vibe: Romantic -->
                            <span id="Romantic" class="emoji" (click)="toggleVibeSelection('Romantic')">Romantic 🌹</span>
                        </div>
                        <div class="col">
                            <!-- Vibe: Affectionate -->
                            <span id="Affectionate" class="emoji" (click)="toggleVibeSelection('Affectionate')">Affectionate 🥰</span>
                        </div>
                        <div class="col">
                            <!-- Vibe: Heartfelt -->
                            <span id="Heartfelt" class="emoji" (click)="toggleVibeSelection('Heartfelt')">Heartfelt 🙌</span>
                        </div>
                        <div class="col">
                            <!-- Vibe: Nostalgic -->
                            <span id="Nostalgic" class="emoji" (click)="toggleVibeSelection('Nostalgic')">Nostalgic 🎶</span>
                        </div>
                        <div class="col">
                            <!-- Vibe: Playful -->
                            <span id="Playful" class="emoji" (click)="toggleVibeSelection('Playful')">Playful 😜</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- Vibe: Reassuring -->
                            <span id="Reassuring" class="emoji" (click)="toggleVibeSelection('Reassuring')">Reassuring 🤗</span>
                        </div>
                        <div class="col">
                            <!-- Vibe: Dreamy -->
                            <span id="Dreamy" class="emoji" (click)="toggleVibeSelection('Dreamy')">Dreamy ✨</span>
                        </div>
                        <div class="col">
                            <!-- Vibe: Protective -->
                            <span id="Protective" class="emoji" (click)="toggleVibeSelection('Protective')">Protective 🛡️</span>
                        </div>
                        <div class="col">
                            <!-- Vibe: Whimsical -->
                            <span id="Whimsical" class="emoji" (click)="toggleVibeSelection('Whimsical')">Whimsical 🦄</span>
                        </div>
                        <div class="col">
                            <!-- Vibe: Serene -->
                            <span id="Serene" class="emoji" (click)="toggleVibeSelection('Serene')">Serene 🕊️</span>
                        </div>
                    </div>
                </div>

                <div id="emojis">
                    <p>Pick a Adjective:</p>

                    <div class="row">
                        <div class="col">
                            <!-- Adjectives: Admiring -->
                            <span id="Admiring" class="emoji" (click)="toggleAdjectiveSelection('Admiring')">Admiring 💖</span>
                        </div>
                        <div class="col">
                            <!-- Adjectives: Cherished -->
                            <span id="Cherished" class="emoji" (click)="toggleAdjectiveSelection('Cherished')">Cherished 🌹</span>
                        </div>
                        <div class="col">
                            <!-- Adjectives: Beloved -->
                            <span id="Beloved" class="emoji" (click)="toggleAdjectiveSelection('Beloved')">Beloved ❤️</span>
                        </div>
                        <div class="col">
                            <!-- Adjectives: Loving -->
                            <span id="Loving" class="emoji" (click)="toggleAdjectiveSelection('Loving')">Loving 🥰</span>
                        </div>
                        <div class="col">
                            <!-- Adjectives: Tender -->
                            <span id="Tender" class="emoji" (click)="toggleAdjectiveSelection('Tender')">Tender 💕</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- Adjectives: Caring -->
                            <span id="Caring" class="emoji" (click)="toggleAdjectiveSelection('Caring')">Caring 🌷</span>
                        </div>
                        <div class="col">
                            <!-- Adjectives: Thankful -->
                            <span id="Thankful" class="emoji" (click)="toggleAdjectiveSelection('Thankful')">Thankful 🙏</span>
                        </div>
                        <div class="col">
                            <!-- Adjectives: Appreciative -->
                            <span id="Appreciative" class="emoji" (click)="toggleAdjectiveSelection('Appreciative')">Appreciative 🌟</span>
                        </div>
                        <div class="col">
                            <!-- Adjectives: Blessed -->
                            <span id="Blessed" class="emoji" (click)="toggleAdjectiveSelection('Blessed')">Blessed 🙌</span>
                        </div>
                        <div class="col">
                            <!-- Adjectives: Joyful -->
                            <span id="Joyful" class="emoji" (click)="toggleAdjectiveSelection('Joyful')">Joyful 📜</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center generateMessagePadding">
                        <button type="button" class="btn btn-primary" (click)="generateMessage()">Generate Message</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>This is what you have selected:</p>
                        <p>{{text}}</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="footer">
        <button type="button" class="btn btn-primary" routerLink="/home">Go back to Home</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
