.full-screen {
    height: 100vh;
}
.custom-card {
    flex: 1 1 18rem; /* Adjust this value as needed for spacing between cards */
    margin: 10px; /* Adjust margin between cards */
    max-width: calc(100% - 20px); /* Adjust maximum width for responsiveness */
}

.row {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.card-width {
    width: 100px;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 64px;
    height: auto;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
}

@media (max-width: 576px) {
    .img-center {
        width: 50%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .img-center {
        width: 70%;
    }
}

@media (min-width: 769px) {
    .img-center {
        width: 100%;
    }
}
